$default-float: left;
$opposite-default-float: right !default;
$base-rem-unit: 16px !default;
$column-gutter: rem-calc(10) !default;
$row-max-width: rem-calc(1080) !default;


$default-grid-list: ("pull" "push" "offset" "columns");  
$helper-classes: ("clear" "hide" "show" "center");
$show-classes-sub-list: ("inline" "inline-block" "block") !default;

$screen-list: ( small: (
                    range: 0em 40em,
                    columns: 12,
                    grid-classes: $default-grid-list, 
                    helper-classes: $helper-classes,
                    gutter: 10px ),
                medium: (
                    range: 40.063em 64em ,
                    columns: 12,
                    grid-classes: $default-grid-list, 
                    helper-classes: $helper-classes ),
                large: (
                    range: 64.063em 90em ,
                    columns: 12,
                    grid-classes: $default-grid-list, 
                    helper-classes: $helper-classes ),
                xlarge: (
                    range: 90.063em 120em , 
                    columns: 12,
                    grid-classes: $default-grid-list,
                    helper-classes: $helper-classes ),
                xxlarge: (
                    range: 120.063em 160em ,
                    columns: 12,
                    grid-classes: $default-grid-list, 
                    helper-classes: $helper-classes ),
                xxxlarge: (
                    range: 160em 180em ,
                    columns: 12,
                    grid-classes: $default-grid-list, 
                    helper-classes: $helper-classes ))!default; 
                    

$screen-keys: map-keys($screen-list);
$break-points: length($screen-keys);

$class-names: (
                screen-names:(small:small-,
                              medium:medium-,
                              large:large-,
                              xlarge:xlarge-,
                              xxlarge:xxlarge-,
                              xxxlarge:xxxlarge),
                helpers:(pull:pull-,
                        push:push-,
                        offset:offset-,
                        columns:columns-,
                        clear:clear-,
                        hide:hide-,
                        show:show-,
                        center:center-,
                        inline:inline-,
                        inline-block:inline-block-,
                        block:block-,
                        up:up,
                        only:only,
                        down:down) );


 @for $increment from 1 through $break-points {
        $screen-size: nth($screen-keys,$increment); 
        $screen-values: map-get($screen-list,$screen-size);
        $media-querie : media-querie($screen-size,"up");
        $screen-values : map-merge($screen-values, (media-querie-up: $media-querie));
        $screen-list : map-merge($screen-list, ($screen-size: $screen-values));    
    }  
 @for $increment from 1 through $break-points {
        $screen-size: nth($screen-keys,$increment); 
        $screen-values: map-get($screen-list,$screen-size);
        $media-querie : media-querie($screen-size,"only");
        $screen-values : map-merge($screen-values, (media-querie-only: $media-querie));
        $screen-list : map-merge($screen-list, ($screen-size: $screen-values));    
    }  
 @for $increment from 1 through $break-points {
        $screen-size: nth($screen-keys,$increment); 
        $screen-values: map-get($screen-list,$screen-size);
        $media-querie : media-querie($screen-size,"down");
        $screen-values : map-merge($screen-values, (media-querie-down: $media-querie));
        $screen-list : map-merge($screen-list, ($screen-size: $screen-values));        
    }       
    




