
#mobile-header {
    display: none;
}
@media only screen and (max-width: 767px){
    #mobile-header {
        display: block;
    }
    #navigation {
        display:none;
    }
}

#navigation li {
    display:inline;
}